@mixin MediaFooterBntmobile {
    @media (max-width: 490px) {
        margin-right: 0;
      }
}

@mixin MediaFooterMobile{
    @media (max-width: 410px) {
        font-size: 1rem;
        padding: 0 1rem;
      }
      @media (max-width: 314px) {
        flex-direction: column;
      }
}

@mixin MediaMainMobile{
    @media (max-width: 450px) {
        padding: 0 0.5rem;
      }
}