$wrapper: linear-gradient(104.11deg, #ff7e5f 14.52%, #feb567 87.26%);
$main: #ffff;
$header: #ffca93;
$task: #ffdfbe;
$task-text: #7f4b13;
$task-done: #feb567;
$task-remove: #ffca93;
$task-remove-hover: #fc8f1a;
$new-task-bg: #ffecd8;
$footer-font-color: rgba(127, 75, 19, 0.42);
$footer-border-btn:  #c9955d;